<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technologies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='charts.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body><div class="page">
    <div class="menu_item item1"><a href="/">
        <img class="logo" src="{{ url_for('static', filename='images/home.png') }}">
    </a></div>
    <div class="menu_item item2"><a href="/timeline">Timeline</a></div>
    <div class="menu_item item3"><a href="/work_format">Work format</a></div>
    <div class="current menu_item item4"><a href="/technologies">Technologies</a></div>
    <div class="menu_item item5"><a href="/top_companies">Top companies</a></div>

    <div class="content">
        <form action="/technologies" method="POST">
            <select class="filter1" name="experience" id="experience" onchange="this.form.submit()">
            {% for option in dropdown_data['experience'] %}
                <option value="{{ option.index }}" {% if option.index == selected_values.get('experience') %}selected{% endif %}>
                    {{ option.value }}
                </option>
            {% endfor %}
            </select>
        </form>

        <div id="chart">
            {% if graph_json is not none %}
                <script>
                    const graph = {{ graph_json | safe }};
                    const config = { displayModeBar: false, responsive: true};
                    Plotly.newPlot('chart', graph.data, graph.layout, config);
                </script>
            {% else %}
                <h1>No relevant data</h1>
            {% endif %}
        </div>
    </div>
</div></body></html>